@model IEnumerable<eShop.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div>
    <div class="row align-items-center">
        <h1 class="display-4 col-sm-8">Products</h1>
        <div class="col-sm-4 text-right">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Add">Add new product</a>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <span class="badge @(product.State == ProductState.Available ? "bg-primary" : (product.State == ProductState.Ordered ? "bg-warning" : "bg-success"))">@product.State</span>
                </td>
                <td class="text-right">
                    @if (product.State == ProductState.Available)
                    {
                        <a class="mr-3" asp-area="" asp-controller="Home" asp-action="Order" asp-route-id="@product.Id">Order</a>
                    }

                    <a target="_blank" href="#">View profile</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
